<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>

<p>Welcome to <%= title %></p>
<% fq.each(function(o){ %>
<p>User Name:
    <%=o %>
</p>
<% }); %>
</body>
</html>
